body,html
{
  margin: 0;
  padding: 0;
  line-height: 0;
}

#circle { 
   width: 300px;
   height: 300px;
   background: rgba(0,204,255, 0.6); 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 50%;
   margin-top: 3%;
   text-align: center;
}


.icon:before {
    font-family: 'MeteoconsRegular';
    content: attr(data-icon);
    text-decoration: none;  
}

.icon1
{
  font-size: 8em;
  position: relative;
  top: 50px;
}

.condition
{
  font-size: 1.5em;
  display: block;
  font-family: 'nexa_lightregular';  
  color: white;
  position: relative;
  top: 40px;
}

.home-icon
{
  font-size: 2em;
  position: relative;
  left: 80%;
}

#cir1 { 
   width: 200px;
   height: 200px;
   background: rgba(0,204,255, 0.6); 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 50%;  
   text-align: center;
   display: inline-block;
   position: relative;
   top: -30px;
}

#cir2 { 
   width: 200px;
   height: 200px;
   background: rgba(0,204,255, 0.6); 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 50%;
   text-align: center;
   display: inline-block;
   position: relative;
   top: -170px;   
}

#cir3 { 
   width: 250px;
   height: 250px;
   background: rgba(0,204,255, 0.6); 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 50%;
   text-align: center;
   margin-left: 20px;
   position: relative;
   top: -200px;
}

.align
{
    width: 140px;
    text-align: center;
    height: 140px;
    line-height: 140px;
    font-size: 5em;
    
}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteocons-webfont.eot');
    src: url('../fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.icon
{
    text-decoration: none;
    color: white;
}

.geo
{
  font-size: 6em;
  color: white;
  margin-top: 5%;
  line-height: 210px;
  position: relative;
  top: -30px;
}

.round
{
  -moz-border-radius: 15px;
  font-size: 3em;
  color: white;
  font-family: 'nexa_lightregular';
}

.date-style
{
  text-align: top;
  margin-top: 5%;
  font-size: 3em;
  color: white;
  font-family: 'nexa_lightregular';
  position: relative;
  top: 60px;
}

.month
{
  font-size: 1.4em;
  display: block;
  color: white;
  font-family: 'nexa_lightregular';
  position: relative;
  top: 70px;
}


.location
{
  font-size: 1em;
  margin-top: -80px;
  font-family: 'nexa_lightregular';
  color: white;
}


@font-face {
  font-family: 'nexa_lightregular';
      src: url('../fonts/nexa_free_light-webfont.eot');
      src: url('../fonts/nexa_free_light-webfont.eot?#iefix') format('embedded-opentype'), 
           url('../fonts/nexa_free_light-webfont.woff') format('woff'),
           url('../fonts/nexa_light.otf') format('otf'),
           url('../fonts/nexa_free_light-webfont.ttf') format('truetype'),
           url('../fonts/nexa_free_light-webfont.svg#nexa_lightregular') format('svg');
font-weight: normal;
font-style: normal;
}



@font-face {
  font-family: 'nexa_lightregular_bold';
      src: url('../fonts/nexa_free_light-webfont.eot');
      src: url('../fonts/NexaFreeBoldwebfont.eot?#iefix') format('embedded-opentype'), 
           url('../fonts/NexaFreeBoldwebfont.woff') format('woff'),
           url('../fonts/nexa_bold.otf') format('otf'),
           url('../fonts/NexaFreeBoldwebfont.ttf') format('truetype'),
           url('../fonts/NexaFreeBoldwebfont.svg#nexa_lightregular') format('svg');
font-weight: normal;
font-style: normal;
}

/*.info
{
  width: 80%;
  height: 100%;
  position: fixed;
  float: left;
  color: red;
  text-align: center;
  background-color: white;
  z-index: 9999;
}

.place
{
  text-align: left;
  padding-top: 5%;
  line-height: 25px;
  list-style-type: none;
}

.loc-style
{
  border-style: solid;
  width: 100%;
}

.circle
{
  position: fixed;
  right: 10%;
  font-size: 2em;
}*/
/*
.yo
{
  font-size: 3em;
}*/

.temp
{
  font-size: 2em;
  position: relative;
  top: 90px;
  font-family: 'nexa_lightregular';
  color: white;
  left: 10px;
}

.degree
{
  font-size: 0.6em;
}
.hover
{
   z-index: 99;
   box-shadow: 0px 2px 6px rgba(200,200,200,0.3),0px -2px 6px rgba(200,200,200,0.3),-0px 2px 6px rgba(200,200,200,0.3),-0px -2px 6px rgba(200,200,200,0.3);  
   background: rgba(0,204,255, 0.8)
}

.pos
{
  font-size: 1.2em;
  font-family: 'nexa_lightregular';
}

.left
{
  display: inline-block;
  text-align: left;
  width: 49%;
  position: relative;
  top: 380px;
  left: 40%;
  font-size: 1em;
}

.right
{
  display: inline-block;
  text-align: right;
  width: 49%;
  position: relative;
  top: 380px;
  right: 40%;
  font-size: 1em;
}

.circle1
{
  position: absolute;
  width: 100%;
}

.text-container
{
  width: 100%;
}

/* width from 320px to 445px*/
@media all and (min-width:320px) and (max-width : 445px) {

  #circle { 
     width: 240px;
     height: 240px;
     margin-bottom: -80px;
     margin-top: 2%;
    }

  #cir1 { 
     width: 160px;
     height: 160px;
     top: 59px;
     margin-right: 40%;
  }

  #cir2 { 
     width: 160px;
     height: 160px;
     font-size: 2.5em;
     top: -107px;  
     margin-left: 38%;
  }

  #cir3 { 
     width: 180px;
     height: 180px;
     margin-top: -160px;
     margin-left: 20px;
     top: 30px;
  }


  .icon1
  {
    position: relative;
    top: 20px;
    font-size: 7em;
  }

  .icon2
  {
    font-size: 3em;
    line-height: 80px;
  }

  .icon3
  {
    font-size: 4em;
    line-height: 240px;
    position: relative;
    top: -20px;
    left: 20px;
  }

  .icon4
  {
    font-size: 7em;
  }

  .geo
  {
    font-size: 4em;
    color: white;
    margin-top: 5%;
    line-height: 160px;
    position: relative;
    top: -30px;
  }

  .date-style
  {
    font-size: 2em;
    color: white;
    font-family: 'nexa_lightregular_bold';
    position: relative;
  }

  .month
  {
    font-size: 1em;
    margin-top: 50px;
    color: white;
    position: relative;
    top: 20px;
    font-family: 'nexa_lightregular_bold';
  }

  .condition
  {
    font-size: 1.5em;
    display: block;
    margin-top: -39px;
    font-family: 'nexa_lightregular';  
    color: white;
  }

  .location
  {
    font-size: 1.2em;
    margin-top: -70px;
    font-family: 'nexa_lightregular_bold';
    color: white;
  }

  .temp
  {
    font-size: 0.9em;
    top: 55px;
    left: 10px;
    font-family: 'nexa_lightregular_bold';
  }


  .left
  {
    top: 320px;
    left: 0%;
    font-size: 1.6em;
    color: white;
    z-index: 999;
    text-align: center;
  }

  #humidity
  {
    font-family: 'nexa_lightregular';
  }

  #pressure
  {
    font-family: 'nexa_lightregular';
  }

  .left1
  {
    top: 320px;
    text-align: center;
    font-size: 1.8em;
    color: white;
    z-index: 999; 
    position: relative;
    font-family: 'nexa_lightregular';
  }

  .right
  {
    position: relative;
    top: 320px;
    right: 0%;
    font-style: 'nexa_lightregular';
    color: white;
    z-index: 999;
    font-size: 1.6em;    
    text-align: center;
  }

  .percentage
  {
    font-size: 0.7em;
    font-weight: bold;
  }

  .units
  {
    font-size: 0.7em;
  }
  .home-icon
  {
    z-index: 999;
    color: white;
    left: 45%;
    top: 340px;
    font-size: 3em;
  }

  .pos
  {
    position: fixed;
    top: 205px;
    color: white;
    font-size: 1.3em;
    font-family: 'nexa_lightregular_bold';
    z-index: 999;
    text-align: center;
    width: 100%;
  }
}

/* width from 445px to 570px */
@media all and (min-width : 446px) and (max-width: 570px) {
  #circle { 
     width: 320px;
     height: 320px;
     margin-top: 5%;
    }

  #cir1 { 
     width: 250px;
     height: 250px;
     top:-40px;
     margin-right: 42%;
  }

  #cir2 { 
     width: 250px;
     height: 250px;
     top: -295px;  
     margin-left: 45%;
  }

  #cir3 { 
     width: 250px;
     height: 250px;
     margin-top: -150px;
     margin-left: 10px;
  }

  .icon1
  {
    font-size: 9em;
    position: relative;
    top: 2%;
  }

  .geo
  {
    font-size: 7em;
    color: white;
    position: relative;
    top: -30px;
  }

  .date-style
  {
    font-size: 4em;
    color: white;
    font-family: 'nexa_lightregular';
  }

  .month
  {
    font-size: 2em;
    margin-top: -20px;
    color: white;
  }

  .condition
  {
    font-size: 1.6em;
    font-family: 'nexa_lightregular';  
    color: white;
    top: 10px;
  }

  .location
  {
    font-size: 1.8em;
    font-family: 'nexa_lightregular';
    color: white;
  }

  .temp
  {
    font-size: 4.2em;
    top: 36%;
    left: 5px;
  }

  .left
  {
    top: 260px;
  }

  .right
  {
    top: 260px;
    font-style: 'nexa_lightregular';
  }

  .left1
  {
    top: 260px;
  }

  .home-icon
  {
    top: 270px;
  }

  #cen
  {
    overflow: hidden;
    position: fixed;
  }
}

/*width of 571px to 900px*/
@media all and (min-width: 571px) and (max-width: 650px){

  body
  {
    position: fixed;
    width: 100%;
  }

  #circle { 
     width: 420px;
     height: 420px;
     margin-top: 5%;
     position: relative;
    }

  #cir1 { 
     width: 250px;
     height: 250px;
     top:-32px;
     margin-right: 40%;
  }

  #cir2 { 
     width: 250px;
     height: 250px;
     top: -292px;  
     margin-left: 38%;
  }

  #cir3 { 
     width: 270px;
     height: 270px;
     margin-top: -133px;
     margin-left: 10px;
  }

  .icon1
  {
    font-size: 12em;
    position: relative;
    top: 2%;
  }

  .geo
  {
    font-size: 7em;
    color: white;
    position: relative;
    top: -30px;
  }

  .date-style
  {
    font-size: 4em;
    color: white;
    font-family: 'nexa_lightregular';
  }

  .month
  {
    font-size: 2em;
    margin-top: -20px;
    color: white;
  }

  .condition
  {
    font-size: 1.6em;
    font-family: 'nexa_lightregular';  
    color: white;
    top: 10px;
  }

  .location
  {
    font-size: 1.8em;
    font-family: 'nexa_lightregular';
    color: white;
  }

  .temp
  {
    font-size: 4.2em;
    top: 36%;
    left: 5px;
  }

  .left
  {
    top: 260px;
    color: white;
  }

  .right
  {
    top: 260px;
    font-style: 'nexa_lightregular';
    color: white;
  }

  .left1
  {
    z-index: 999;
    text-align: center;
    position: relative;
    font-size: 2em;
    top: 570px;
  }

  .home-icon
  {
    position: relative;
    left: 30px;
    width: 100%;
    font-size: 5em;
    color: rgba(0,204,255,0.8);
  }

  .right
  {
    z-index: 999;
    position: relative;
    right: 8px;
    font-size: 2em;
    top: 580px;
    text-align: center;
  }

  .left
  {
    z-index: 999;
    position: relative;
    left: 8px;
    font-size: 2em;
    top: 580px;
    text-align: center;
  }

  .pos
  {
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 520px;
    color: white;
    font-size: 2em;
    font-family: 'nexa_lightregular_bold';
  }

  .left1
  {
    z-index: 999;
  }

  .home
  {

  }
}

@media all and (min-width: 651px) and (max-width: 900px) {
  .pos
  {
    top: 430px;
    position: absolute;
    color: white;
    z-index: 9999;
    text-align: center;
    width: 100%;
    font-size: 2em;
  }

  .left
  {
    font-size: 3em;
    text-align: center;
    left: 5%;
    color: white;
    z-index: 999;
    position: relative;
    top: 520px;
  }

  .right
  {
    font-size: 3em;
    text-align: center;
    right: 5%;
    color: white;
    z-index: 999;
    position: relative;
    top: 520px;
  }

  .left1
  {
    z-index: 999;
    position: relative;
    font-size: 3em;
    top: 540px;
    text-align: center;
    width: 100%;
  }

  .home-icon
  {
    font-size: 5em;
    position: absolute;
    top: 8px;
    left: 655px;
    color: rgba(0,204,255, 0.6);
  }
}

/* IPAD 2/4 */
@media all and (min-width: 1024px) and (max-height: 768px){
  
  body
  {
    position: fixed;
    width: 100%;
  }

  .icon1 
  {
    font-size: 9em;
    position: relative;
    top: 7px;
  }

  .condition
  {
    position: relative;
    top: 0px;
    font-size: 1.2em;
    font-family: 'nexa_lightregular_bold';
  }

  .location
  {
    font-family: 'nexa_lightregular_bold';
    position: relative;
    top: -15px;
  }

  .temp
  {
    font-family: 'nexa_lightregular_bold';
  }

  .geo
  {
    position: relative;
    top: -52px;
    font-size: 6em;
  }

  .date-style
  {
    font-family: 'nexa_lightregular_bold';
  }

  .month
  {
    font-family: 'nexa_lightregular_bold';
  }

  .pos
  {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 120%;
    color: white;
    font-size: 2.3em;
  }

  .left
  {
    font-size: 3em;
    text-align: center;
    left: 5%;
    color: white;
  }

  .right
  {
    font-size: 3em;
    text-align: center;
    right: 5%;
    color: white;
  }

  .left1
  {
    text-align: center;
    font-size: 3em;
    position: relative;
    top: 390px;
  }

  .home-icon
  {
    font-size: 5em;
    position: absolute;
    top: 8px;
    left: 920px;
    color: rgba(0,204,255, 0.6);
  }
}

/* Smartphones (portrait and landscape) ----------- */
/* Iphone 5 */
@media all and (max-width : 320px) and (max-height : 568px) and (orientation: portrait) {

  #circle { 
     width: 220px;
     height: 220px;
    }

  #cir1 { 
     width: 150px;
     height: 150px;
     top: 60px;
     margin-right: 48%;
  }

  #cir2 { 
     width: 150px;
     height: 150px;
     top: -90px;  
     margin-left: 45%;
  }

  #cir3 { 
     width: 180px;
     height: 180px;
     margin-top: -150px;
     margin-left: 10px;
  }

  .icon1
  {
    font-size: 5em;
    position: relative;
    top: 10%;
  }

  .geo
  {
    font-size: 4em;
    color: white;
    margin-top: 5%;
    position: relative;
    top: -30px;
  }

  .date-style
  {
    margin-top: 5%;
    font-size: 3em;
    color: white;
    font-family: 'nexa_lightregular_bold';
  }

  .month
  {
    font-size: 1.4em;
    margin-top: 30px;
    color: white;
  }

  .condition
  {
    font-size: 1.15em;
    font-family: 'nexa_lightregular_bold';  
    color: white;
    top: 70px;
  }

  .location
  {
    font-size: 1.2em;
    font-family: 'nexa_lightregular_bold';
    color: white;
    margin-top: -80px;
  }

  .temp
  {
    font-size: 0.8em;
    top: 50px;
    left: 5px;
  }

  .left
  {
    top: 260px;
  }

  .right
  {
    top: 260px;
    font-style: 'nexa_lightregular';
  }

  .left1
  {
    top: 260px;
  }

  .home-icon
  {
    top: 270px;
  }

}
