/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body,html
{
    margin: 0;
    padding: 0;
    height: 100%; 
    font-family: 'nexa_lightregular';
    overflow: hidden;
}

.pos
{
  font-size: 1em;
  font-family: 'nexa_lightregular';
}

.left
{
  display: inline-block;
  text-align: left;
  width: 49%;
  left: 10%;
  font-size: 1.4em;
}

.back
{
  position: fixed;
  font-size: 1.3em;
  line-height: 50px;
  padding-left: 1%;
}

.top
{
  position: fixed;
  width: 100%;
}

.main
{
  text-align: center;
  font-family: 'nexa_lightregular_bold';
  font-size: 1.3em;
  line-height: 50px;
  height: 50px;
  background-color: #0F3B5F;

}

#header
{
  padding-top: 20%;
  font-family: 'nexa_lightregular_bold';
  font-weight: bold;
}

#day1
{
  padding-top: 5%;
}

/*#cle { 
  width: 60px;
  height: 60px;
  background: white; 
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 50%;   
  position: relative;
  box-shadow: 2px 2px 3px grey;
  color: rgba(0,204,255,1);
  background-color: #0F3B5F;
}

.home
{
  font-size: 3em;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 8%;
}*/
.right
{
  display: inline-block;
  text-align: right;
  width: 49%;
  right: 4%;
  font-size: 1.4em;
  text-align: center;
}

.text-container
{
  padding-left: 5%;
  line-height: 170%;
}

h1
{
  margin: 0%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.fa-circle
{
    font-size: 1em;
}

p
{
    font-family: 'nexa_lightregular';
    font-size: 1.4em;
}

@font-face {
  font-family: 'nexa_lightregular';
      src: url('../fonts/nexa_free_light-webfont.eot');
      src: url('../fonts/nexa_free_light-webfont.eot?#iefix') format('embedded-opentype'), 
           url('../fonts/nexa_free_light-webfont.woff') format('woff'),
           url('../fonts/nexa_light.otf') format('otf'),
           url('../fonts/nexa_free_light-webfont.ttf') format('truetype'),
           url('../fonts/nexa_free_light-webfont.svg#nexa_lightregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'nexa_lightregular_bold';
      src: url('../fonts/nexa_free_light-webfont.eot');
      src: url('../fonts/NexaFreeBoldwebfont.eot?#iefix') format('embedded-opentype'), 
           url('../fonts/NexaFreeBoldwebfont.woff') format('woff'),
           url('../fonts/nexa_bold.otf') format('otf'),
           url('../fonts/NexaFreeBoldwebfont.ttf') format('truetype'),
           url('../fonts/NexaFreeBoldwebfont.svg#nexa_lightregular') format('svg');
font-weight: normal;
font-style: normal;
}

@media all (min-width: 320px) and (max-width: 800px){
  .text-container{
    line-height: 250%;
  }
}

@media all (min-height: 320px) and (max-height: 500px){

}

}