body {
    font-family: 'nexa_lightregular';
}

.page h1,
.page h2
{
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin: 0%;
}

.frame {
    position:relative;
    background-color: rgba(0,204,255, 08);
    color: white;
    margin: 0%;
    height: 100%;
    width: 100%;
}

.dotted
{
    border-bottom: 3px dashed #CCFFFF;
    text-decoration: none; 
}


.transition {
    -moz-transition-duration: .250s;
    -webkit-transition-duration: .250s;
    -o-transition-duration: .250s;
}
