body {
    font-family: 'nexa_lightregular';
}

.page h1,
.page h2
{
    color: white;
    font-weight: bold;
    margin-top: 0px;
    font-size: 2em;
}

.frame {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: rgba(0,204,255, 08);;
}

.page-container {
    position:absolute;
    top:20px;
    right:20px;
    bottom:20px;
    left:20px;
    overflow: hidden;
    -webkit-transform:translate3d(0,0,0);
    color: white;
    text-decoration: bold;
}

.transition {
    -moz-transition-duration: .250s;
    -webkit-transition-duration: .250s;
    -o-transition-duration: .250s;
}
